* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
::selection {
    background-color: #313242;
    color: #e5e7eb;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    background-color: black;
}
.example-button {
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.HomeContainer {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
}
.HomeWrapper {
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 999;
    color: black;
    width: 100%;
    height: 100vh;
}
.Homemain {
    display: flex;
    max-width: 1400px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.left {
    flex: 1;
}
.right {
    flex: 1;
}


.NextSkill {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 40px;
    color: black;
    font-weight: bold;
}
.ImageAbout {
    width: 400px;
    height: 400px;
    flex: 1;
}
.a {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 200px;
}

.social {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.AboutHeader {
    text-align: center;
    margin-top: 40px;
    margin-right: 25px;
}
.about-max-width {
    max-width: 1400px;
    margin: auto;
    height: 100vh;
    overflow-y: hidden;
}
.leftAbout {
    flex: 1;
    
}
.triangle {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.skillNext {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.ImageProjectReact {
    position: absolute;
    right: -220px;
    overflow-x: hidden;
    top: -50px;
    width: 500px;
    height: 500px;
}
img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}
.marqueeTitle {
    font-size: 5rem;
    color: #e5e7eb;
    font-weight: bolder;
    width: 100%;
}
.ProjectContainer {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.pega {
    width: 500px;
    height: 500px;
    position: absolute;
    left: -280px;
    bottom: -100px;
}
.MainProjectContainer {
    padding: 30px 100px;
}
.ProjectWrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.ProjectWrapper img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}
.aboutPageContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.aboutHeaderContainer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 14px;
}
.aboutWrapper {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 300px;
    justify-content: space-between;
}
.aboutImageContainer {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.aboutDescriptionContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.aboutName {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
}
.aboutDesc {
    text-align: justify;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .aboutWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutDescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .aboutName {
        font-size: 2.4rem;
        font-weight: bold;
        margin: 14px 0 20px 0;
    }
}